#total {
  text-align: center;
}

#player {
  text-align: right;
}

#play {
  text-align: center;
}

#input {
  display: none;
}

#name2 {
  text-align: right;
}

body {
  background-image: url("../images/dice.jpg");
}

h1 {
  color: maroon;
  font-weight: bold;
  font-style: italic;
}

h2 {
  color: green;
}
